<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>Hello There</h2>
        @*Content pages will be loaded here...*@
        @RenderBody()
    </div>
</body>
</html>

